<div class="cuerpo">

<div class="perro1">

    <ul>
        <li>Nombre: {{animal1.name}}</li>
        <li>Edad: {{animal1.age}}</li>
        <li>País: {{animal1.country}}</li>
        <li>Juguetón: {{animal1.playable}}</li>
        <li>Vivo: {{animal1.alive}}</li>
    </ul>



</div>

<div class="perro2">

    <ul>
        <li>Nombre: {{animal.name}}</li>
        <li>Edad: {{animal.age}}</li>
        <li>País: {{animal.country}}</li>
        <li>Juguetón: {{animal.playable}}</li>
        <li>Vivo: {{animal.alive}}</li>
    </ul>



</div>

</div>
