img{
    width: 100px;
    border: 3px solid paleturquoise;
    border-radius: 100px;
    margin: 30px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    gap:60px;
    margin-right: 60px;
    align-items: center;
    font-size: x-large;
}

.padrenav{
    display: flex;
    justify-content: space-between;
    border: 3px solid paleturquoise;
    border-radius: 30px;
    margin-bottom: 100px;
}



